# Operations on complex numbers

In [ ]:
a = 14+9j
b = 7-2j
print ("Value of a is {} and b is {}".format(a,b))
s = a + b
print ("Sum is {}".format(s))
d = a - b
print ("Difference is {}".format(d))
p = a * b
print ("Product is {}".format(p))
q = a / b
print ("Quotient is {}".format(q))
fd = a / b
print ("Floor division result is {}".format(fd))

'Mod operation cannot be performed on complex numbers'

# Range Functions

Range function is used to create a range of values

This function has 3 arguements


*   1st arg = start
*   2nd arg = end
*   3rd arg = difference between 2 values in the created range

If only one arguement 'n' is given, range from 0 to 'n-1' is created

If 2 arguements 'm' and 'n' is given, range from 'm' to 'n-1' is created

If all 3 arguements 'm', 'n' and 'd' are given, range from 'm' to 'n-1' with a difference of 'd' between 2 consecutive numbers is created

It's explained with the below code

In [ ]:
l1 = list(range(6))
print ("range(6) creates the values of {}".format(l1))
l2 = list(range(6, 30))
print ("range(6, 30) creates the values of {}".format(l2))
l3 = list(range(6, 30, 5))
print ("range(6, 30, 5) creates the values of {}".format(l3))

# Question 3

In [ ]:
x = int(input("Enter 1st number :"))
y = int(input("Enter 2nd number :"))
d = abs(x - y)

if d >= 25:
  r = x * y
  print ("Difference is :", d)
  print ("Hence Product is :", r)
else:
  r = x / y
  print ("Difference is :", d)
  print ("Hence Quotient is :", r)

# Question 4

In [ ]:
l = [6, -3, 39, 12, -69, 25, 11, 24, 8, 2, 10]

for i in l:
  if i % 2 == 0:
    print ("\nValue in list is {} and output will be {}".format(i, ((i ** 2) - 2)))
  else:
    print ("\nValue in list is {} and is not divisible by 2".format(i))

# Question 5

In [ ]:
l = [6, -3, 39, 12, -69, 25, 11, 24, 8, 2, 10]
l1 = []

for i in l:
  if i % 2 == 0:
    if i > 7:
      l1.append(i)

print ("Result list will be {}".format(l1))